.elements__element {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 361px;
  max-width: 282px;
  background-color: #ffff;
  border-radius: 10px;
}

@media screen and (min-width: 1000px) {
  .elements__element {
    margin: 0;
  }
}

.elements__element:last-child {
  margin-bottom: 0;
}
